* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: auto;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/background.png");
}

.form-wrapper {
  position: relative;
  margin: 0 auto;
  width: 427px;
  height: 161px;
  top: calc(100vh - 65%);
}

.form-wrapper .title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.form-wrapper p.sub-title {
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 34px;
}

.form label {
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.fields {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  justify-content: space-between;
}

input {
  width: 252px;
  height: 37px;
  padding-left: 5px;
  background: rgba(237, 237, 237, 0.63);
  border-radius: 6px;
  color: black;
  border: none;
  font-size: 14px;
}

input:focus {
  outline: #de5a21;
  box-shadow: 0 0 0 0.2rem #ff6a2a66;
}

.btn-generate,
.btn-hire {
  width: 158px;
  height: 37px;
  color: white;
  background: #de5a21;
  border: 1px solid #f24e1e;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

.btn-generate:hover,
.btn-hire:hover {
  background: #cf4f17;
  border: 1px solid #cf4f17;
}

.main-section {
  position: absolute;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.btn-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
}

.btn-back {
  width: 1.25rem;
  height: auto;
  background: none;
  border: none;
}

.btn-back:hover {
  background: none;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
}

.main-container {
  position: relative;
  margin: 0 5rem 3rem 5rem;
  height: calc(100vh - 133px);
  background: white;
  border-radius: 8px;
}

.avatar-wrapper {
  position: relative;
  width: 100px;
  margin: 0 auto;
  height: 100px;
  top: -48px;
  border-radius: 55px;
  background: white;
}

.avatar-wrapper img {
  top: 0;
  width: 100px;
  height: 100px;
}

.user-info {
  position: relative;
  width: 100%;
  top: -2rem;
}

.personal-info {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.personal-info h2,
.personal-info p {
  text-align: center;
}

.github-statistics {
  position: relative;
  width: 500px;
  height: 100px;
  margin: 0 auto;
  display: flex;
}

.github-statistics label {
  text-align: center;
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 0.5rem;
}

.github-statistics .followers,
.github-statistics .following,
.github-statistics .repositories {
  position: relative;
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.btn-disabled {
  width: 142px;
  height: 36px;
  background: #c4c4c459;
  border-radius: 3px;
  border: none;
  color: black;
}

.github-info {
  position: relative;
  display: flex;
  height: 206px;
  margin: 1rem 4rem 0 4rem;
  justify-content: space-between;
}

.github-info .other-info,
.github-info .user-bio {
  position: relative;
  display: flex;
  width: 460px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
}

.other-info {
  display: flex;
  flex-direction: row;
}

.other-info .block-one,
.other-info .block-two {
  position: relative;
  width: 50%;
  padding: 1rem;
}

.block-one div,
.block-two div {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.email label,
.location label,
.twitter label {
  font-size: 10px;
  color: #7e7e7e;
}

.email .value,
.location .value,
.twitter .value {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: black;
}
